body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

main {
    background-color: rgb(100, 202, 236);
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

footer {
    background-color: darkblue;
    color: white;
    font-family: Arial;
    margin: 0px;
    padding: 5px; 
}

header {
    background-color: darkblue;
    color: white;
    font-family: Arial;
    margin: 0px;
    padding: 5px; 
}

a {text-decoration: none}

a:link {
    color: blue;
}

a:visited {
    color: rgb(77, 98, 105);
    text-decoration: underline;
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:active {
    color: black;
    opacity: 0.3;
}